@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*  ADD THIS */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
/* GLOBAL.CSS ME ADD KAREIN */
@media print {
  /* Print ke time baaki sab kuch hide kar do */
  body * {
    visibility: hidden;
  }
  
  /* Sirf Voucher Card aur uske andar ka content dikhao */
  #voucher-card, #voucher-card * {
    visibility: visible;
  }
  
  /* Voucher Card ko bilkul upar top-left par set kar do */
  #voucher-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
    border: none !important;
  }

  /* Buttons walo ko hide karo */
  .no-print {
    display: none !important;
  }
}
.thin-scroll::-webkit-scrollbar {
  height: 3px; /* aur thin */
}

.thin-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background: #b8b6b6; /* blue (Tailwind blue-600) */
  border-radius: 10px;
}

/* hover pe thoda dark */
.thin-scroll::-webkit-scrollbar-thumb:hover {
  background: #505050; /* blue-700 */
}

/* Custom scrollbar hider */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}